body,div,h1,h2 p{
    margin: 0;
    padding: 0;
}
.main{


}
.topbar{
    height: 100px;
    width: 1550px;
    background: black;
    position: relative;
}
.topbar img{
    float: left;
    position: absolute;
    top: 35px;
    left: 25px;
    /* margin: 45px 10px; */

}
    

.link{
    /* float: right; */
    right: 10px;
    
    padding: 45px 10px;
    position: absolute;


}
.nav{
    padding: 45px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.imgcontainer{
    position: relative;
    width: 100%;
}

.imgh{
    height: auto;
    width: 1550px;
    /* background: black; */


}
.overlaytxt{
    position: absolute;
    top: 100px;
    left: 250px;
    transform: translate( -50, -50);
    color: white;
}
.overlaytxt h2{
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;

}
.overlaytxt h1{
    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

}
.overlaytxt p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-top: 20px;

}
.btn{
    padding: 20px;
    background: black;
    color: white;

}
/* ...........................................about us........................................................... */

.main2{
    height: 750px;
    width: 100%;
    /* background: black; */
    position: relative;

}
.main2 img{
    height: 500px;
    width: auto;
    position: absolute;
    top: 100px;
    left: 825px;
    transform: translate( -50, -50);
    /* color: white; */
}
.main2 div{
    position: absolute;
    top: 275px;
    left: 200px;
    transform: translate( -50, -50);
    /* color: white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main2 div button{
    padding: 10px 20px;
    background: black;
    color: white;
}
.main2 div h1{
    color: rgb(235, 118, 9);
    font-weight: 800;
    font-size: 36px;
}
.main2 div p{
    font-size: larger;
}

/* .........................................Gallery........................................................ */

.galtext{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.galtext h1{
    color: orange;
    margin-bottom: 0px;
    

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}
.main3{
    height: auto;
    width: 100%;
    /* background: yellow; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 200px 200px 200px; */
    gap: 70px;
    justify-content: center;
}
.main3 div{
    /* background: black; */
    padding: 20px;
    color: white;
    text-align: center;
}
.main3 div img{
height: 300px;
width: 300px;

}